<!DOCTYPE html>

<html>
	<head>
		<title>Motorcycles Database</title>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	</head>
	<body>
		<% if(!currentUser){ %>
		<h4><a class="btn btn-primary" href="/register">Register</a></h4>
		<h4><a class="btn btn-primary" href="/login">Login</a></h4>
		<% } else { %>
		<h4><a href="#">Signed in as: <%= currentUser.username %></a></h4>
		<h4><a class="btn btn-primary" href="/logout">Logout</a></h4>
		<% } %>
		
		<% if(error && error.length > 0){ %>
		<div class="alert alert-danger" role="alert">
    		<%= error %>
		</div>
		<% } %>
		
		<% if(success && success.length > 0){ %>		
		<div class="alert alert-success" role="alert">
			<%= success %>
		</div>
		<% } %>