<% include partials/header %>

<h1>Log in to The Motorcycle Database</h1>

<form action="/login" method="POST">
    <input name="username" type="text" placeholder="username">
    <input name="password" type="password" placeholder="password">
    <button>Submit!</button>
</form>

<% include partials/footer %>