body {
    background-color: #f2f4f7 !important;
}

body {
	margin: 0 auto;
	max-width: 800px;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding-left: 10px;
	padding: 0 0;
	background-color: #f6f9f4;
	font-family: "Arial", sans-serif;
}

.buttons {
    display: inline-block;
    /* wont change buttons when I put it in, bootstrap affecting it?*/
}

img {
    max-height: 89%;
	max-width: 89%;
}

.container {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
}

.item {
    max-height: 49%;
	max-width: 49%;
}